.brand-item__content{
    display: flex;
}
.brand-item__content:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
.brand-item__picture{
    display: flex;
    align-items: center;
}
.brand-item__img{
    width: 60px;
    padding: 5px 10px;
}
.brand-item__description p{margin:0}
.text-low{
    font-size: 14px;
    color: #031b4e99;
}
.red-hook{
    color: #dc3545;
}
.grey-hook{
    color: #031b4e99;
}
.blue-hook{
    color: #0d6efd;
}
.phrase-sorry{
    padding-left: 20px;
}