.search-brands__app{
    width: 400px;
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
}
.search-form{
    margin-block-end: 0;
    position: relative;
    z-index: 3;
}
.button-search__svg{
    width: 20px;
    position: absolute;
    z-index: 3;
    top: 7px;
    right: 9px;
}
@media (max-width: 990px){
    .search-brands__app{
        width: 400px;
        margin-left: -30px;
    }
} 
@media (max-width: 768px){
    .search-brands__app{
        width: 236px;
        margin-left: -20px;
    }
}
@media (max-width: 576px){
    .navbar-toggler{
        margin-top: -60px;;
    }
    .search-brands__app{
        margin-top: -49px;
        margin-left: 53px;
    }
}




